<div class="container">
  <div class="row">
    <div class="col-6">
      <app-search-form></app-search-form>
    </div>
    <div class="col-6">
      <app-result-table></app-result-table>
    </div>
  </div>
</div>
