<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Exp</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of testerService.testerData | async; let i = index">
    <td>{{i}}</td>
    <td>{{data.testerFirstName}}</td>
    <td>{{data.testerLastName}}</td>
    <td>{{data.experience}}</td>
  </tr>
  </tbody>
</table>
