<form [formGroup]="searchData">
  <div [@rowAnimation]>
    <div class="row">
      <mat-form-field>
        <input matInput formControlName="country" placeholder="Type country">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput formControlName="device" placeholder="Type device">
      </mat-form-field>
    </div>
  </div>
</form>
